KERNEL=="fb[0-9]", ACTION!="remove", RUN+="/run/initramfs/bin/tsplash udev-rule"
KERNEL=="fb[0-9]", ACTION=="remove",  RUN+="/run/initramfs/bin/tsplash clear"
